body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--first-title-color);

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}


// ---------------------------------------------------

.portfolio-layer > img {
    width: 100%;
}