:root {
    --accent-color: #2196f3;
    --first-title-color: #212121;
    --second-title-color: #ffffff;
    --third-title-color: #757575;
    --foot-color: rgba(255, 255, 255, 0.6);
    --key-bgc-color: #2f303a;

    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}